/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #150e28;
  /* --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2; */

  --vt-c-black: #140d27;
  /* --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828; */

  --vt-c-pink: #ff26b9;
  --vt-c-purple: #d434fe;

  /* --vt-c-indigo: #2c3e50; */

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-text-dark-2);
  /* --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-pink); */
  /* --color-text: var(--vt-c-text-light-1); */

  /* --section-gap: 160px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  /* line-height: 1.6; */
  font-family: Montserrat;
}

h1,
h2,
h3 {
}

.btn {
  border-radius: 4px;
  /* min-width: 172px; */
  padding: 1.6rem 5.2rem;
  font-weight: 400;
  /* height: 53px; */
  font-size: 16px;
  color: #ffffff;
  border: 0;
  background: linear-gradient(270deg, #903aff 0%, #d434fe 56.42%, #ff26b9 99.99%, #fe34b9 100%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 1rem 4.2rem;
  }
}

ul,
li {
  list-style: none;

  padding: 0;
}

.color-purple {
  color: #d434fe;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.blur-one {
  position: absolute;
  top: 0;
  left: -120px;
  filter: blur(90px);
  width: 600px;
  /* width: 1037px;
   height: 948px; */
  z-index: -1;
  background-blend-mode: hard-light;
}
.blur-two {
  position: absolute;
  bottom: 0;
  /* right: -120px; */
  right: 0;
  filter: blur(130px);
  width: 600px;
  height: 300px;
  z-index: -1;
  background: #2b1170;
  background-blend-mode: hard-light;
  /* overflow-x: visible; */
  /* display: none; */
}
.blur-three {
  position: absolute;
  top: -100px;
  /* right: -120px; */
  right: 30%;
  filter: blur(130px);
  width: 600px;
  height: 300px;
  z-index: -1;
  background: #2b1170;
  background-blend-mode: hard-light;
  /* overflow-x: visible; */
}
.blur-four {
  position: absolute;
  top: 350px;
  /* right: -120px; */
  left: 70px;
  filter: blur(130px);
  width: 600px;
  height: 300px;
  z-index: -2;
  background: #2b1170;
  background-blend-mode: hard-light;
  /* overflow-x: visible; */
  display: none;
}
.blur-five {
  position: absolute;
  top: 350px;
  /* right: -120px; */
  left: 70px;
  filter: blur(130px);
  width: 600px;
  height: 300px;
  /* z-index: -1; */
  background: #2b1170;
  background-blend-mode: hard-light;
  /* overflow-x: visible; */
  /* display: none; */
}
.blur-six {
  position: absolute;
  bottom: 0;
  /* right: -120px; */
  right: 0;
  filter: blur(130px);
  width: 600px;
  height: 300px;
  /* z-index: 1; */
  background: #2b1170;
  background-blend-mode: hard-light;
  /* overflow-x: visible; */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #140d27;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d434fe;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
